@tailwind base;
@tailwind components;
@tailwind utilities;

/* 确保背景色覆盖全屏 */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0B0B19; /* 对应代码中的背景色 */
  overflow: hidden; /* 防止滚动条出现 */
}
